# Method 1

In [ ]:
!git clone https://github.com/singhkhushi25/6semdata.git

fatal: destination path '6semdata' already exists and is not an empty directory.

## Read CSV File

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/6semdata/titanic.csv')

In [ ]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

## Read Excel file

In [ ]:
import xlrd

In [ ]:
xl = xlrd.open_workbook('/content/6semdata/titanic (3).xls')

In [ ]:
sheet = xl.sheet_by_index(0)

sheet.cell_value(0,0)

for i in range(sheet.ncols):
  print(sheet.cell_value(0,i))

pclass
survived
name
sex
age
sibsp
parch
ticket
fare
cabin
embarked
boat
body
home.dest

# Method 2

##  Read CSV File

In [ ]:
from google.colab import files
import pandas as pd

In [ ]:
uploaded = files.upload()

Saving titanic.csv to titanic (1).csv

In [ ]:
df1 = pd.read_csv('titanic.csv')

In [ ]:
df1.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,embarked
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,S
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,S
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,S
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,S
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,S

## Read Excel File

In [ ]:
upload = files.upload()

Saving titanic.xls to titanic (1).xls

In [ ]:
xl1 = xlrd.open_workbook('titanic.xls')

In [ ]:
sheet = xl.sheet_by_index(0)

sheet.cell_value(0,0)

for i in range(sheet.ncols):
  print(sheet.cell_value(0,i))

pclass
survived
name
sex
age
sibsp
parch
ticket
fare
cabin
embarked
boat
body
home.dest